<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline'; img-src 'self' media.githubusercontent.com; media-src 'self' media.githubusercontent.com; frame-src;">
    <meta name="description" content="{{page.description}}">
    <meta property="og:image" content="{{site.mediaurl}}/s/content/logo.png">
    <meta name="keywords" content="{{page.keywords}}">
    <title>{{page.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}"/>
    <link href="{{ '/s/css/style.css?v14' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/s/css/lessons.css?v13' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/s/css/typtask.css?v15' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/s/css/custom_control.css?v4' | relative_url }}" rel="stylesheet" type="text/css">
</head>
