---
---
*{
  margin: 0px;	
  padding: 0px;
  }
img{
   border:none;
   }
ul, ol, div{
   overflow:hidden;
   }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	font-family:arial;
	/*font-family:Times New Roman;
	font-size:16px;*/
   }
input, textarea, select{
	cursor:pointer;
	outline:none;
	}
input:active, textarea:active {
    outline: none;
} 
:focus {
    outline: none;
}
input{
	border:1px solid #808080;
	height:18px;
	}
a{
	outline:0;
	}
.clears{
	clear:both;	
    }
div.clears{
	height:1px;
	}
/* links site */
.underline{
	border-bottom: 1px solid;
	text-decoration: none;
	}
.dashed {
    border-bottom: 1px dashed;
    text-decoration: none;
}
a:link, a{
	color:#003366;
	}
a.underline:link, a.underline, a span.underline{
	border-color:#729abd !important;
	}
a:hover{
	color: #db0a0a;
	}
a.underline:hover, a:hover span.underline{
	border-color: #dd8888 !important;
	}
/* links site 1*/	
#wrapper{
    min-height:100%;
    height: auto !important;
    height: 100%;
    position: relative;
	background:url({{ site.cssurl }}images/bgheader.jpg) repeat-x 0 0 transparent;
	min-width:990px;
	}
	/* #header */
	#header {
		height:30px;
		font-size:11px;
		max-width:1400px;
		margin:0 auto;
		}
		#header ul.left{
			margin:0 0 0 10px;
			float:left;
			}
			#header ul.left li{
				list-style:none;
				float:left;
				color:#fff;
				padding:7px 0 0;
				}
			#header ul.left li, #header ul.left li + li +li{
				margin:0 10px 0 0;
				}
				#header ul.left li a:link, #header ul.left li a{
					color:#78e140;
					}
				#header ul.left li a.underline:link, #header ul.left li a {
					border-color:#78e140 !important;
					}
				/*#header ul.left li + li + li + li + li + li a:link, #header ul.left li + li + li + li + li + li a{
					color:#fff;
					}
				#header ul.left li + li + li + li + li + li a.underline:link, #header ul.left li + li + li + li + li + li a {
					border-color:#fff !important;
					}
				#header ul.left li  a:hover {
					color: #db0a0a;
					}
				#header ul.left li  a.underline:hover {
					border-color: #dd8888 !important;
					}	*/
				.rtlogo, #header ul.left li img.question{
					float:left;
					}
				.rtlogo{
					margin:-2px 5px 0;
					} 						
				#header ul.left li + li{
					margin:2px 10px 0 0;
					}
				#header ul.left li img.question{
					margin:1px 5px 0;
					}
		#header ul.right{
			margin:7px 10px 7px 7px;
			float:right;
			}	
		#header ul.right li{		
			list-style:none;
			float:left;
			margin:0 5px 0 0;
			}
	.inwrapper{
	    width:990px;
	    margin:0 auto;
		padding-bottom:297px;		
	    }
		.menu{
		   /* border:1px solid red;*/
			height:95px;
			margin: 10px 0 30px;
			}
			.logo{
				margin:10px;
				float:left;
				background:url({{ site.cssurl }}images/logo.webp) no-repeat 0 0 transparent;
				width:155px;
				height:68px;
				}
			.logo  a{
				display:block;
				width:155px;
				height:68px;
				}
			.menu h1{
				float: left;
			    margin: -10000px;
				}
			.menu div.hmenu{
			    float:left;
				margin:0 0 0 60px;
			    }
/*				.menu div.hmenu ul{
				   cursor:pointer;
				   }*/
					.menu div.hmenu ul li{
						background:url({{ site.cssurl }}images/menuicon1.webp) no-repeat 4px 6px transparent;
						/*border:1px solid red;*/
						width:70px;
						float:left;
						list-style:none;
						font-size:14px;
						margin:0 10px 0 0;
/*						display:block;*/
						}
					.menu div.hmenu ul li + li{
						background-position: -75px 0;
						}
					.menu div.hmenu ul li + li + li{
						background-position: -157px 0;
						}
					.menu div.hmenu ul li + li + li + li{
						background-position: -237px 0;
						width:80px;
						}
					.menu div.hmenu ul li + li + li + li + li{
						background-position: -321px 0;
						width: 68px;
						}
					.menu div.hmenu ul li + li + li + li + li + li{
						background-position: -408px 0;
						width: 115px;
						}
					.menu div.hmenu ul li + li + li + li + li + li+li{
						background-position:-523px -5px;
						width:70px;
					}
					.menu div.hmenu ul li + li + li + li + li + li+li a{
						padding-left:7px;
						}

					.menu div.hmenu ul li:hover, .menu div.hmenu ul li.active{
						background-position:4px -75px;	
						color: #DB0A0A;	
						cursor:default;
						}
					.menu div.hmenu ul li.active a{
						color: #DB0A0A;	
						}
					.menu div.hmenu ul li.active a.underline {
						border-color: #DD8888 !important;
						}
					/*.menu div.hmenu ul li.active  a.underline{
						border-color: #DD8888 !important;
						}
					.menu div.hmenu ul li.active  a{
						color: #DB0A0A;	
						}*/
					.menu div.hmenu ul li + li:hover,  .menu div.hmenu ul li + li.active{
						background-position: -77px -82px;
						}
					.menu div.hmenu ul li + li + li:hover, .menu div.hmenu ul li + li + li.active{
						background-position: -159px -82px;
						}
					.menu div.hmenu ul li + li + li + li:hover, .menu div.hmenu ul li + li + li + li.active{
						background-position: -239px -82px;
						}
					.menu div.hmenu ul li + li + li + li + li:hover, .menu div.hmenu ul li + li + li + li + li.active{
						background-position: -323px -81px;
						}
					.menu div.hmenu ul li + li + li + li + li + li:hover, .menu div.hmenu ul li + li + li + li + li + li.active{
						background-position: -409px -81px;
						}
					.menu div.hmenu ul li + li + li + li + li + li +li:hover, .menu div.hmenu ul li + li + li + li + li + li +li.active{
						background-position:-523px -86px;
						}
						.menu div.hmenu ul li a, .menu div.hmenu ul li span{
							display:block;
							}
						.menu div.hmenu ul li a{
							text-decoration:none;
						}
						.menu div.hmenu ul li span{
							padding:60px 0 0;
							width:53px;
							margin:0 auto;
							}
						.menu div.hmenu ul li + li a span,
						.menu div.hmenu ul li + li span{
							width:57px;
							}
						.menu div.hmenu ul li + li + li a span,
						.menu div.hmenu ul li + li + li span{
							width:62px;
							}
						.menu div.hmenu ul li + li + li + li a span,
						.menu div.hmenu ul li + li + li + li span{
							width:70px;
							}
						.menu div.hmenu ul li + li + li + li + li a span,
						.menu div.hmenu ul li + li + li + li + li span{
							width:35px;
							}
						.menu div.hmenu ul li + li + li + li + li + li a span,
						.menu div.hmenu ul li + li + li + li + li + li span{
							width:107px;
							}
						.menu div.hmenu ul li + li + li + li + li + li+li a span,
						.menu div.hmenu ul li + li + li + li + li + li+li span{
							width:41px;
							}
			/* скругленые углы*/
			.r-star-shape{
				position:relative;
				overflow:hidden;
				padding:18px 0;
				margin:5px;
				}
			.r-star-shape .cn{
				height: 36px;
				left: -17px;
				position: absolute;
				top: -18px;
				width: 19px;
				background:url({{ site.cssurl }}images/r-star.webp);
				}
			.r-star-shape .cn.rr{
				background:url({{ site.cssurl }}images/rr-star.webp);
				}
			.r-star-shape .cn.tr, .r-star-shape .cn.br {
				margin-left:100%;
				}
			.r-star-shape .cn.bl, .r-star-shape .cn.br {
				top:auto;
				}
			.r-star-shape .cn.tl, .r-star-shape .cn.bl {
				width:100%;
				} 				
			.r-star-shape .conten{				
				background:url({{ site.cssurl }}images/centerconten.webp) repeat-y;
				}
			.r-star-shape .conten.rr {
				background: url({{ site.cssurl }}images/rcenterconten.webp) repeat-y scroll 1px 0 transparent;
				}
			.r-star-shape .conten.cr{
			    background-position: 100% 0;
				padding:2px 20px;
				}
			/* скругленые углы*/
		#conteiner {
			margin:20px 0 0;
			padding:0 11px 0;
			font-size:12px;
			/*border:1px solid red;*/
			}
		#conteiner.keyboardmode {
			margin-bottom: 250px;
			}
		#conteiner h3{
			font-size:24px;
			margin:-5px 0 10px;
			font-weight: normal;
			}
			.main .left{
				float:left;
				margin:15px 0 0 45px;
				width: 390px;
				}
			.main .slogan{
				margin: 10px 0 25px 90px;
				}
			.main .right{
				float:right;
				width:225px;
				}
				.main .right p{
					padding:1px;
					}
			.main h1{
				font:bold 30px Times New Roman;
				text-align:center;
				margin:0 0 35px;
				}
			.main ul{
				margin:10px 0;
				}
			.main .left .conten .cr p{
				line-height:18px;
				}
			.main ul li{
			    background:url({{ site.cssurl }}images/mainli.webp) no-repeat 0 10px transparent;
				list-style:none;
				padding:5px 0 1px 15px;
				margin:5px 0 0;
				font:15px Times New Roman;				
				}
			.main ul li + li{
				background-position:0 50%;
				}
			.main ul.bul li {				
				font: 20px Times New Roman;
				padding: 12px 0 1px 35px;
				}
			.main ul.bul li.bul_1{
				background: url({{ site.cssurl }}main/1_bul.webp) no-repeat scroll 0 10px transparent;
				}
			.main ul.bul li.bul_2{
				background: url({{ site.cssurl }}main/2_bul.webp) no-repeat scroll 0 10px transparent;
				}
			.main .left .r-star-shape{
				width:400px;
				margin:25px 0;
				}
					
.checkbox{
	background:url({{site.cssurl}}main/selectcheket.webp) no-repeat 0 0 transparent;
	height: 17px;
    margin: -2px 0 0;
    position: absolute;
    width: 17px;
	}
.checkbox.act{
	background-position:0 -20px;
	}
	#footer {
		position: absolute;
		padding:10px 0 0;
		bottom: 0;
		left:0;
		font-size:12px;		
		height:297px;
		width:100%;
		background:url({{ site.cssurl }}images/bgfooter.jpg) repeat-x 100% 0 #dbdcde;
		}
	#footer .in{	
		padding:10px 10px 0;
		height:70px;
		margin:85px auto 0;		
		width:990px;
		border-top:1px solid #bdbcbc;
		}
		#footer  ul{
			float:right;
			margin:0 20px;
			}
			#footer  ul li{
				margin:5px 0;
				}
		#footer  ul.copyright{
			float:left;
			margin:0 10px;
			}
		#footer ul.copyright li{
			list-style:none;
			float:left;
			margin:7px;
			}
		#footer ul.copyright li.fcopy{
			clear:both;
			font-size:12px;
			margin:0 0 0 6px;
			width:100%;
			}
		.rtlogofooter{
			/*border:1px solid red;*/
			float:left;
			margin:5px 0;
			}
		/*.bgfooter{
			background:url({{ site.cssurl }}images/bgfooter.jpg) repeat-x 100% 100% transparent;
			height: 145px;
			min-width:990px;
            margin: -145px 0 0;
			}	*/
.table_list {border-spacing: 0;}
.table_list th, .table_list td {text-align: left; vertical-align:top; padding-right: 35px; padding-top: 12px; font-size: 16px; font-family: Times New Roman; line-height: 140%}
.table_list th {border-bottom:rgb(221, 223, 222) 1px solid; font-weight: bold;  font-size: 18px;}
.table_list th:first-child {width: 65px;}

.profile h1 {font-size: 42px; font-weight: normal; font-weight: normal; text-align: left; margin: 0 0 0 0; font-family: Times New Roman;}
.profile .change .old {background: url("{{ site.cssurl }}profile/old.webp") no-repeat scroll 0 0 transparent; height: 32px; margin: 25px 0 10px 0px; width: 434px;}
.profile .change .new {background: url("{{ site.cssurl }}profile/new.webp") no-repeat scroll 0 0 transparent; height: 32px; margin: 25px 0 10px 0px; width: 434px;}
.profile .change .old input, .profile .change .new input {background: none repeat scroll 0 0 transparent; border: medium none; margin: 6px 0 0 58px; width: 370px;}
.profile .change .button {background: url("{{ site.cssurl }}profile/change.webp") no-repeat scroll 0 0 transparent; width: 89; height: 36; margin: 25px 0 0 52px;}
.profile .change .button a {display: block; height: 34px; width: 87px; margin: 1px;}

.profile_ch .change, .profile_ch .ach_not_active, .profile_ch .ch_active, .profile_ch .s_not_active {display: block;}
.profile_ch .achievements, .profile_ch .subscribe, .profile_ch .ch_not_active, .profile_ch .ach_active, .profile_ch .s_active {display: none;}
.profile_ach .achievements, .profile_ach .ch_not_active, .profile_ach .s_not_active, .profile_ach .ach_active {display: block;}
.profile_ach .change, .profile_ach .subscribe, .profile_ach .ach_not_active, .profile_ach .ch_active, .profile_ach .s_active {display: none;}
.profile_s .subscribe, .profile_s .ach_not_active, .profile_s .s_active, .profile_s .ch_not_active {display: block;}
.profile_s .achievements, .profile_s .change, .profile_s .s_not_active, .profile_s .ach_active, .profile_s .ch_active {display: none;}
.profile_ach .achievements {overflow: visible;}
.profile_ach .share_top div{overflow: visible;}
.profile {overflow: visible;}
.profile .profile_menu {margin-top: 10px;}
.profile .profile_menu .star {background: url("{{ site.cssurl }}profile/star.webp") no-repeat scroll 0 0 transparent; width: 42px; height: 40px; float: left; margin-right: 5px;}
.profile .profile_menu .menu_item {float: left; margin: 10px; width: 150px;}
.profile .profile_menu .menu_item .not_active {float: left;}
.profile .profile_menu .not_active {border-bottom: rgb(0, 51, 102) 1px dashed;}
.profile .profile_menu .ach_not_active a {text-decoration: none; font-size: 15px; font-family: Times New Roman; color: rgb(0, 51, 102);}
.profile .profile_menu .ach_active .t {font-size: 15px; font-family: Times New Roman; letter-spacing: 2px; color: white; background-color: rgb(0, 128, 203); height: 20px;}
.profile .profile_menu .ch_not_active a {text-decoration: none; font-size: 15px; font-family: Arial; color: rgb(0, 51, 102);}
.profile .profile_menu .ch_active .t {font-size: 15px; font-family: Arial; font-weight: bold; color: white; background-color: rgb(0, 128, 203); height: 20px;}
.profile .profile_menu .s_not_active a {text-decoration: none; font-size: 15px; font-family: Arial; color: rgb(0, 51, 102);}
.profile .profile_menu .s_active .t {font-size: 15px; font-family: Arial; font-weight: bold; color: white; background-color: rgb(0, 128, 203); height: 20px;}
.profile .profile_menu .active .pl {background: url("{{ site.cssurl }}profile/pl.webp") no-repeat scroll 0 0 transparent; width: 5px; height: 20px; float: left;}
.profile .profile_menu .active .pr {background: url("{{ site.cssurl }}profile/pr.webp") no-repeat scroll 0 0 transparent; width: 5px; height: 20px; float: right;}
.profile .profile_menu .ch_active {width: 140px;}
.profile .profile_menu .ch_active .t {width: 130px;}
.profile .profile_menu .ach_active {width: 150px;}
.profile .profile_menu .ach_active .t {width: 140px;}
.profile .profile_menu .s_active {width: 85px;}
.profile .profile_menu .s_active .t {width: 75px;}
.test_achiv{overflow: visible;}
.test_achiv .plus {margin-top: 10px;}
.test_achiv .share {width: 265px; height: 65px; margin-top: -25px; /*display: none;*/overflow: visible;}
.test_achiv .share_visible {display: block;}
.test_achiv .share_top {width: 243px; height: 25px; /*border: rgb(213, 213, 213) 1px solid;*/ padding: 30px 10px 5px 10px;overflow: visible;}
.test_achiv .share_bottom {width: 263px; height: 4px; border: 0; background: url("{{ site.cssurl }}profile/shadow.webp") no-repeat scroll 0 0 transparent;}

.subscribe_checkbox {margin-top: 50px; margin-left: 10px; cursor:pointer;}

.disclaimer h1 {font-size: 42px; font-weight: normal; font-weight: normal; text-align: left; margin: 0 0 0 0; font-family: Times New Roman;}
.disclaimer .disclaimer_menu {margin-top: 10px; padding-bottom: 20px;}
.disclaimer .disclaimer_menu .menu_item {float: left; padding-right: 10px;}
.disclaimer .disclaimer_menu .menu_item .pl {width: 5px; height: 20px; float: left;}
.disclaimer .disclaimer_menu .menu_item .pr {width: 5px; height: 20px; float: left;}
.disclaimer .disclaimer_menu .menu_item .t {height: 20px; float: left;}
.disclaimer .disclaimer_menu .menu_item .t .tt {font-size: 15px; font-family: Times New Roman; letter-spacing: 2px; color: rgb(0, 51, 102); border-bottom: rgb(0, 51, 102) 1px dashed; cursor: pointer; float: left;}
.disclaimer .disclaimer_menu .menu_item.active .pl {background: url("{{ site.cssurl }}profile/pl.webp") no-repeat scroll 0 0 transparent;}
.disclaimer .disclaimer_menu .menu_item.active .pr {background: url("{{ site.cssurl }}profile/pr.webp") no-repeat scroll 0 0 transparent;}
.disclaimer .disclaimer_menu .menu_item.active .t {background-color: rgb(0, 128, 203);}
.disclaimer .disclaimer_menu .menu_item.active .t .tt {color: white; border-bottom: 0; cursor: auto;}
.disclaimer .rus, .disclaimer .eng {display:none;}
.disclaimer.rus .rus {display:block;}
.disclaimer.eng .eng {display:block;}
.disclaimer .menu_item {display:block;}
.enter_site{margin-top:-10000px;position: absolute;}

.embed_image {float: left; padding: 5px 15px 10px 10px;}

.menu div.hmenu ul li.active a span{
	border-color: #DD8888 !important;
	}
