<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
        {% include header.html %}
        <div class="inwrapper">
	    <div class="menu">			    
                <h1>Learn Russian</h1>		    
                <span class="logo"> <a href="{{ '/' | relative_url }}"></a></span>
                {% include hmenu.html %}
            </div>
            <div id="conteiner">
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.4.4/jquery.min.js" integrity="sha512-tcexmm0PBc+jOn9UwbgHVpjZIleEKXif1MCkzgNfVjhXKDxwYumrCOxhZ5tIaXHz2DpEE14hfjFn5J+tpaFSCg==" crossorigin="anonymous"></script>
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js" integrity="sha512-leN1LJ2B5s9cBINeKL5bbT3cQvOebXsezoYGyuMq9oaytpFJgJ1uBOU86lJZObKTFLbMHqP0zFXR/1N6Nnlskw==" crossorigin="anonymous"></script>
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous"></script>
            <script defer src="{{ '/s/js/libs.js' | relative_url }}"></script>
            <script defer src="{{ '/s/js/jquery.ui.touch-punch.min.js' | relative_url }}"></script>
            <script defer src="{{ '/s/js/custom_control.js?d' | relative_url }}"></script>
            <script defer src="{{ '/s/js/learn_russian.js?p' | relative_url }}"></script>
		{{ content }}
            </div>
        </div>
        <div class="clears"></div>		
        {% include footer.html %}	
    </div>		
</body></html>
