<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
        {% include header.html %}
        <div class="inwrapper">
	    <div class="menu">			    
                <h1>Learn Russian</h1>		    
                <span class="logo"> <a href="{{ '/' | relative_url }}"></a></span>
                {% include hmenu.html %}
            </div>
            <div id="conteiner">
		{{ content }}
            </div>
        </div>
        <div class="clears"></div>		
        {% include footer.html %}	
    </div>		
</body></html>
